[submodule "MakefileSpinal"]
	path = EE219Lab4/makefile-spinal
	url = git@github.com:liyuxuan3003/MakefileSpinal.git
	branch = github
[submodule "MagicLeda"]
	path = EE219Lab4/magicleda
	url = git@github.com:liyuxuan3003/MagicLeda.git
	branch = github
